* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100vh;
}
.bg{
    background: url("../images/clock.jpg");
    background-size: cover;
    width: 1120px;
    height: 600px;
}
.clock{
    position: relative;
    margin-left: 472px;
    margin-top: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    width:200px;
    background: transparent;
    background-size: cover;

}
.clock::before{
    content:'';
    position: absolute;
    width: 10px;
    height:10px;
    background:#a34e43;
    border-radius: 50%;
    z-index: 1000;
}

.hour, .minute, .second{
    position: absolute;
}

.hour, .hr{
    height: 100px;
    width:100px;
    justify-content: center;
    display: flex;
}
.hr::before{
    content:'';
    position: absolute;
    width:6px;
    height:50px;
    background: #e4b866;
    border-radius: 6px 6px 0 0;
}

.minute, .min{
    height: 120px;
    width:120px;
    justify-content: center;
    display: flex;
}
.min::before{
    content:'';
    position: absolute;
    width:5px;
    height:65px;
    background: #6b6509;
    border-radius: 6px 6px 0 0;
}

.second, .sec{
    height: 150px;
    width:150px;
    justify-content: center;
    display: flex;
}
.sec::before{
    content:'';
    position: absolute;
    width:2px;
    height:100px;
    background: rgb(104, 64, 4);
    border-radius: 6px 6px 0 0;
}